* {
  box-sizing: border-box;
}

html {
  max-width: 1200px;
}

/*HEADER*/
header {
  margin: 10px;
  border: 10px solid black;
}

header > div {
  background-color: orange;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* first line of header*/
header > div:first-child {
  background-color: darkslategrey;
  border-bottom: 5px solid black;
}

header > div:first-child > p {
  width: 15%;
  height: 20px;
  margin: 10px;
  background-color: red;
}

header > div:first-child > p:nth-child(2) {
  width: 70%;
}

/* second line of header */
header > div:nth-child(2) > p {
  width: 100%;
  height: 20px;
  margin: 10px;
  background-color: yellow;
}

/* SECTION */
section {
  margin: 10px;
  border: 10px solid black;
  display: flex;
}

/* first column */
section > div:first-child {
  width: 66.66%;
  border-right: 10px solid black;
  background-color: darkslategrey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

section > div:first-child > p {
  height: 20px;
  margin: 2%;
  background-color: darkblue;
  width: 45%;
}

section > div:first-child > p:last-child {
  width: 100%;
  background-color: lightblue;
}

/* second column*/
section > div:nth-child(2) {
  width: 33.33%;
  background-color: red;
  margin:0px;
}

section > div:nth-child(2) > p {
  height: 20px;
  margin: 10px;
  background-color: yellow;
}

/* FOOTER */

footer {
  margin: 10px;
  border: 10px solid black;
  display: flex;
}

footer > div {
  background-color: orange;
  height: 20px;
  width: 100%;
}
